/* general */
.BodyBackground {
  background-image: url("~assets/pictures/bodybackground.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

hr{
  height: 1px !important;
  color: #acaaaa !important;
  width: 92%;
  margin: 0 auto !important;
}


/* navbar component style */
nav a {
  color: #055452 !important;
  font-family: Playfair Display !important;
  font-weight: 700;
  font-size: 18px;
}

nav a:hover {
  color:  #e99d7b !important;
}

.logo {
  border-radius: 50%;
  width: 97px;
}

@media screen and (max-width: 320px) {
  .logo {
    display: none;
  }
}
  

@media all and (max-width: 994px) {

  .logo {
    border-radius: 50%;
    width: 70px;
  }

  .SearchIcon {
    width: 40px;
    background-color: #e99d7b;
    border-radius: 50%;
    padding: 9px;
  }

  .ShopIcon {
    width: 40px;  
    background-color: #e99d7b;
    border-radius: 40%;
    padding: 9px;
  }

}

@media all and (max-width: 1200px) {
  .SearchForm {
    display: none;
  }
}

.MobileMenuBack {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.09);
}

.MobileMenuIcon {
  margin-top: 30px;
}

.searchbtn {
  background-color: #e99d7b !important;
  margin-left: -36px !important;
  margin-top: 0px;
  height: 37px;
  width: 37px;
  z-index: 1;
}

.searchicon {
 color: #055452;
 position: relative;
 right: 2px;
}

.inputstyle {
  border: 0.5px solid #707070 !important;
  border-radius: 30px !important;
}

.loginbtn {
  background-color: #e99d7b !important;
  height: 45px;
  border-radius: 30px !important;
}

.loginicon {
  color: #055452;
  font-size: 15pt;
}

.signintext {
  font-weight: 600;
  font-size: 16px;
  color: #055452;
  font-family: 'Open Sans';
  font-style: normal;
  padding: 8px;
}

.shopbtn {
  background-color: #e99d7b !important;
  border-radius: 50% !important;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

@media all and (max-width: 1200px) {
  .SearchForm {
    display: none;
  }
}


/* slider section */
.slider {
  border-radius: 30px;
}

.SliderTxt {
  margin-top: -118%;
  margin-left: 14%;
  font-family: Playfair Display;
  font-weight: 800;
  font-size: 25pt;
}

.SliderDesc {
  text-align: left;
  margin-left: 14%;
}


.SliderBtn {
  font-family: 'Open Sans';
  font-weight: 400 !important;
  font-size: 10pt !important;
  margin-left: 14%;
  border-radius: 30px !important;
  background-color: #f0b86c !important;
  color: #492e25;
  border: none !important;
  letter-spacing: 3px;
  padding: 8px 17px !important;
  text-transform: capitalize;
}

.SliderMobileBtn {

  font-family: 'Open Sans';
  font-weight: 400 !important;
  font-size: 10pt !important;
  border-radius: 30px !important;
  background-color: #f0b86c !important;
  color: #492e25;
  border: none !important;
  letter-spacing: 3px;
  padding: 8px 17px !important;
  text-transform: capitalize;
}

@media all and (max-width: 990px) {

  .SliderTxt {
    margin-top: -45%;
    margin-left: 10%;
    font-family: Playfair Display;
    font-weight: 800;
    font-size: 25pt;
  }

  .SliderDesc {
    text-align: left;
    margin-left: 10%;
    width: 300px;
  }

  .SliderBtn {
    margin-left: 10%;
  }
  
}

.SliderMbBkg {
  background-image: url("~assets/pictures/SliderMbBkg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 70vh;
}


.MobileSliderTxtTitle {
 font-family: Playfair Display;
 font-size: 18pt;
 font-weight: 800;
 color: #e3e3e3;
 padding-top: 80%;
}

@media screen and (max-width: 320px) {
  .MobileSliderTxtTitle {
    padding-top: 115%;
    font-size: 15pt;
  }
}

.MobileSliderTxtDesc {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 10pt;
}

@media screen and (max-width: 320px) {
  .MobileSliderTxtDesc {
    display: none;
  }
}
  


/*categiroe section */
.CategorieTxt {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12pt;
}

/* off section*/
.offbackground {
  background-image: url("~assets/pictures/offbackground.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}

.OffCarousel {
  margin-top: 95px !important;
}

@media screen and (max-width: 768px) {
  .OffCarousel {
    margin-top: 45px !important;
  }
}
  

.offimg {
  margin-top: 20px;
  width: 90%;
}

.OffTxt {
  margin-left: 11%;
  margin-top: 10%;
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 22pt;
}

.OffDesc {
  font-family: Poppins;
  margin-left: 12%;
  font-size: 12pt;
  text-align: left;
  color: #606060;
}

.ArrowsPosition {
  margin-left: 5%;
}

.OffSinglePicBackPos {
  margin-left: 1.5px;
}

.OffBaner {
  background-image: url("~/assets/pictures/off1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.OffBaner2 {
  background-image: url("~/assets/pictures/off2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.OffBaner3 {
  background-image: url("~/assets/pictures/off3.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.OffBaner4 {
  background-image: url("~/assets/pictures/off1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.OffCard {
  background-image: url("~/assets/pictures/OffSinglePicBackground.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
}

.OffCardTxt {
  padding:  16px 10px 0px 10px;
  color: #2a2446;
  font-family: 'Open Sans';
  font-size: 7pt;
}

.CardPrice {
  color: #65a79f;
  font-family: 'Open Sans';
  font-size: 15pt;
  font-style: italic;
  position: relative;
  top: 16px;
  left: 10px;
}

.CardButton {
  font-family: 'Open Sans';
  font-weight: 600 !important;
  box-shadow: none !important;
  border-radius: 6px;
  background-color: #f0b86c !important;
  font-size: 7pt !important;
  padding: 5px !important;
  position: relative;
  top: 10px;
  right: 10px;
}

/* top products */

.TopProducts {
  font-family: Playfair Display !important;
  font-weight: 400;
  font-size: 35pt;
  width: 35%;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .TopProducts {
    font-size: 20pt;
  }
}

.hr {
  width: 100%;
  border-bottom: 2px solid #f0b86c;
  line-height: 0.2em;
}

.toptextback {
  background-color: #fafafa;
  padding: 0 30px;
}

/* best products */

.BestProducts {
  font-family: Playfair Display !important;
  font-weight: 600 !important;
  font-size: 35pt;
  width: 35%;
  margin: 0 auto;  
  background-color: #fafafa;
  padding: 0 30px;
}

@media screen and (max-width: 500px) {
  .BestProducts {
    font-size: 20pt;
  }
}


/* Footer section */

.FooterBkg {
  background-image: url("~assets/pictures/footerbkg.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
}

.FooterMobileForm {
  background-image: url("~assets/pictures/FooterFormBkg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  min-height: 350px;
}

.MobileFooterTitle {
  font-family: 'Open Sans';
  font-size: 16pt;
  font-weight: 600;
  color: #000;
}

.MobileFooterDesc {
  font-family: 'Open Sans';
  font-size: 12pt;
  font-weight: 600;
  color: #2a2446;
  width:  100%;
  margin: 0 auto;
}

.KandakaFooter {
  width: 110px;
  margin-left: 15%;
}

.KandakaMobileFooter {
  width: 110px;;
}

.contactbg {
  background-image: url("~assets/pictures/contactbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 70px;
  min-height: 280px;
  border-radius: 16px;
}

.ContactTitle {
 margin-top: 90px; 
 font-family: 'Open Sans';
 font-weight: 600;
 font-size: 26pt;
}

.ContactDesc {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12pt;
}

.FormSection {
  margin-top: 160px; 
  margin-left: 10px;
}

.ContactInputStyle {
  border: 0.5px solid #707070 !important;
  background-color: #fafafa !important;
  width: 100% !important;
}

.ContactBtn {
background-color: #055452 !important;
margin-left: -36px !important;
margin-top: 0px;
height: 37px;
width: 37px;
z-index: 1;
}

.ContactIcon {
  color: #fafafa;
  position: relative;
  right: 2px;
 }

 .SearchFormLabel {
  position: absolute;
  color: #a1a2a1;
  top: 10px;
  right: 75%;
  font-family: 'Open Sans';
  font-size: 8pt;
  font-style: italic;
  font-weight: normal;

 }

 .FormLabel {
  position: absolute;
  color: #a1a2a1;
  top: 10px;
  right: 170px;
  font-family: 'Open Sans';
  font-size: 8pt;
  font-style: italic;
  font-weight: normal;
 }

 .FooterLogoTxt {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12pt;
  color: #fafafa;
  text-align: left;
 }

 .FooterMobileLogoTxt {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12pt;
  color: #fafafa;
  text-align: center;
 }

 @media screen and (max-width: 320px) {
  .FooterMobileLogoTxt {
    text-align: justify;
  }
 }

 .SocialIcons {
  color: #e99d7b;
  font-size: 14pt;
 }

 .FooterMenu {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12pt;
  color: #e99d7b;
  text-align: left;
  margin-top: 50%;
 }

 .FooterResponsiveMenu {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12pt;
  color: #e99d7b;
  margin-top: 10%;
 }

 .FooterSubMenu {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 10pt;
  color: #fff;
  text-align: left;
 }


 .FtrSubMenu {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 10pt;
  color: #fff;
 }

 .LinksPadding {
  padding: 0px 0px 0px 20% !important;
 }

 .MobileFooterBackground {
  background-image: url("~assets/pictures/MbFtBkg.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-top: 20px;
 }

 .GmailIcon {
  padding: 5px 9px;
  border-radius: 50%;
  background-color: #e99d7b;
  color: #055452;
 }

 .copyright {
  background-color: #fafafa;
 }

 .CopyrightTxt {
  margin-top: 3%;
  margin-left: 8%;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 11pt;
 }

 .payments {
  margin-top: 2%;
  margin-left: 40%;
 }

