/* general */
.BodyBackground {
  background-image: url("~assets/pictures/bodybackground.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
}

hr{
  height: 1px !important;
  color: #acaaaa !important;
  width: 92%;
  margin: 0 auto !important;
}

.nuxt-link-active {
  text-decoration: none !important;
}

.text-style {
  font-family: 'Open Sans';
  font-size: 30px;
  color: #231942;
}






